@import 'https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
.red {
  color: var(--cs-color-red);
}
.red strong, .red .cm-strong {
  color: var(--cs-secondary-color);
}

.blue {
  color: var(--cs-color-blue);
}
.blue strong, .blue .cm-strong {
  color: var(--cs-secondary-color);
}

.green {
  color: var(--cs-color-green);
}
.green strong, .green .cm-strong {
  color: var(--cs-secondary-color);
}

.yellow {
  color: var(--cs-color-yellow);
}
.yellow strong, .yellow .cm-strong {
  color: var(--cs-secondary-color);
}

.orange {
  color: var(--cs-color-orange);
}
.orange strong, .orange .cm-strong {
  color: var(--cs-secondary-color);
}

.purple {
  color: var(--cs-color-purple);
}
.purple strong, .purple .cm-strong {
  color: var(--cs-secondary-color);
}

.pink {
  color: var(--cs-color-pink);
}
.pink strong, .pink .cm-strong {
  color: var(--cs-secondary-color);
}

.light-blue {
  color: var(--cs-color-light-blue);
}
.light-blue strong, .light-blue .cm-strong {
  color: var(--cs-secondary-color);
}

.light-green {
  color: var(--cs-color-light-green);
}
.light-green strong, .light-green .cm-strong {
  color: var(--cs-secondary-color);
}

.bg-red {
  background-color: rgba(var(--cs-color-red-rgb), 0.8);
}

.bg-blue {
  background-color: rgba(var(--cs-color-blue-rgb), 0.8);
}

.bg-green {
  background-color: rgba(var(--cs-color-green-rgb), 0.8);
}

.bg-yellow {
  background-color: rgba(var(--cs-color-yellow-rgb), 0.8);
}

.bg-orange {
  background-color: rgba(var(--cs-color-orange-rgb), 0.8);
}

.bg-purple {
  background-color: rgba(var(--cs-color-purple-rgb), 0.8);
}

.bg-pink {
  background-color: rgba(var(--cs-color-pink-rgb), 0.8);
}

.bg-light-blue {
  background-color: rgba(var(--cs-color-light-blue-rgb), 0.8);
}

.bg-light-green {
  background-color: rgba(var(--cs-color-light-green-rgb), 0.8);
}

.text-decoration-red {
  -webkit-text-decoration-color: var(--cs-color-red);
  text-decoration-color: var(--cs-color-red);
}

.text-decoration-blue {
  -webkit-text-decoration-color: var(--cs-color-blue);
  text-decoration-color: var(--cs-color-blue);
}

.text-decoration-green {
  -webkit-text-decoration-color: var(--cs-color-green);
  text-decoration-color: var(--cs-color-green);
}

.text-decoration-yellow {
  -webkit-text-decoration-color: var(--cs-color-yellow);
  text-decoration-color: var(--cs-color-yellow);
}

.text-decoration-orange {
  -webkit-text-decoration-color: var(--cs-color-orange);
  text-decoration-color: var(--cs-color-orange);
}

.text-decoration-purple {
  -webkit-text-decoration-color: var(--cs-color-purple);
  text-decoration-color: var(--cs-color-purple);
}

.text-decoration-pink {
  -webkit-text-decoration-color: var(--cs-color-pink);
  text-decoration-color: var(--cs-color-pink);
}

.text-decoration-light-blue {
  -webkit-text-decoration-color: var(--cs-color-light-blue);
  text-decoration-color: var(--cs-color-light-blue);
}

.text-decoration-light-green {
  -webkit-text-decoration-color: var(--cs-color-light-green);
  text-decoration-color: var(--cs-color-light-green);
}

.border-red {
  border-style: solid;
  border-color: var(--cs-color-red);
}

.border-blue {
  border-style: solid;
  border-color: var(--cs-color-blue);
}

.border-green {
  border-style: solid;
  border-color: var(--cs-color-green);
}

.border-yellow {
  border-style: solid;
  border-color: var(--cs-color-yellow);
}

.border-orange {
  border-style: solid;
  border-color: var(--cs-color-orange);
}

.border-purple {
  border-style: solid;
  border-color: var(--cs-color-purple);
}

.border-pink {
  border-style: solid;
  border-color: var(--cs-color-pink);
}

.border-light-blue {
  border-style: solid;
  border-color: var(--cs-color-light-blue);
}

.border-light-green {
  border-style: solid;
  border-color: var(--cs-color-light-green);
}

.info, .warn, .theorem {
  display: flex;
  flex-direction: column;
  border-left: 8px solid;
  border-radius: 4px;
  padding: 0.6em 1.2em 0.6em 1.2em;
  color: white;
  --caption-font-size: 1.2em;
}
.info .caption, .warn .caption, .theorem .caption {
  width: 100%;
  height: var(--caption-font-size);
  font-size: var(--caption-font-size);
  font-weight: bold;
  margin-bottom: calc(0.4 * var(--caption-font-size));
  display: inline-flex;
  align-items: center;
}
.info .caption::before, .warn .caption::before, .theorem .caption::before {
  width: calc(1.5 * var(--caption-font-size));
  margin: 0.3em 0.6em 0 0;
}

.info {
  background-color: rgb(163, 212, 250);
  border-color: rgb(55, 166, 250);
}
.info .caption::before {
  content: url("data:image/svg+xml,%3Csvg%20fill%3D%22white%22%20%20viewBox%3D%220%200%201920%201920%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M960%200c530.193%200%20960%20429.807%20960%20960s-429.807%20960-960%20960S0%201490.193%200%20960%20429.807%200%20960%200Zm0%20101.053c-474.384%200-858.947%20384.563-858.947%20858.947S485.616%201818.947%20960%201818.947%201818.947%201434.384%201818.947%20960%201434.384%20101.053%20960%20101.053Zm-42.074%20626.795c-85.075%2039.632-157.432%20107.975-229.844%20207.898-10.327%2014.249-10.744%2022.907-.135%2030.565%207.458%205.384%2011.792%203.662%2022.656-7.928%201.453-1.562%201.453-1.562%202.94-3.174%209.391-10.17%2016.956-18.8%2033.115-37.565%2053.392-62.005%2079.472-87.526%20120.003-110.867%2035.075-20.198%2065.9%209.485%2060.03%2047.471-1.647%2010.664-4.483%2018.534-11.791%2035.432-2.907%206.722-4.133%209.646-5.496%2013.23-13.173%2034.63-24.269%2063.518-47.519%20123.85l-1.112%202.886c-7.03%2018.242-7.03%2018.242-14.053%2036.48-30.45%2079.138-48.927%20127.666-67.991%20178.988l-1.118%203.008a10180.575%2010180.575%200%200%200-10.189%2027.469c-21.844%2059.238-34.337%2097.729-43.838%20138.668-1.484%206.37-1.484%206.37-2.988%2012.845-5.353%2023.158-8.218%2038.081-9.82%2053.42-2.77%2026.522-.543%2048.24%207.792%2066.493%209.432%2020.655%2029.697%2035.43%2052.819%2038.786%2038.518%205.592%2075.683%205.194%20107.515-2.048%2017.914-4.073%2035.638-9.405%2053.03-15.942%2050.352-18.932%2098.861-48.472%20145.846-87.52%2041.11-34.26%2080.008-76%20120.788-127.872%203.555-4.492%203.555-4.492%207.098-8.976%2012.318-15.707%2018.352-25.908%2020.605-36.683%202.45-11.698-7.439-23.554-15.343-19.587-3.907%201.96-7.993%206.018-14.22%2013.872-4.454%205.715-6.875%208.77-9.298%2011.514-9.671%2010.95-19.883%2022.157-30.947%2033.998-18.241%2019.513-36.775%2038.608-63.656%2065.789-13.69%2013.844-30.908%2025.947-49.42%2035.046-29.63%2014.559-56.358-3.792-53.148-36.635%202.118-21.681%207.37-44.096%2015.224-65.767%2017.156-47.367%2031.183-85.659%2062.216-170.048%2013.459-36.6%2019.27-52.41%2026.528-72.201%2021.518-58.652%2038.696-105.868%2055.04-151.425%2020.19-56.275%2031.596-98.224%2036.877-141.543%203.987-32.673-5.103-63.922-25.834-85.405-22.986-23.816-55.68-34.787-96.399-34.305-45.053.535-97.607%2015.256-145.963%2037.783Zm308.381-388.422c-80.963-31.5-178.114%2022.616-194.382%20108.33-11.795%2062.124%2011.412%20115.76%2058.78%20138.225%2093.898%2044.531%20206.587-26.823%20206.592-130.826.005-57.855-24.705-97.718-70.99-115.729Z%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E");
  width: calc(1.4 * var(--caption-font-size));
}

.warn {
  background-color: rgb(249, 119, 154);
  border-color: rgb(180, 43, 80);
}
.warn .caption::before {
  content: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22warning%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.0618%204.4295C12.6211%203.54786%2011.3635%203.54786%2010.9228%204.4295L3.88996%2018.5006C3.49244%2019.2959%204.07057%2020.2317%204.95945%2020.2317H19.0252C19.914%2020.2317%2020.4922%2019.2959%2020.0947%2018.5006L13.0618%204.4295ZM9.34184%203.6387C10.4339%201.45376%2013.5507%201.45377%2014.6428%203.63871L21.6756%2017.7098C22.6608%2019.6809%2021.228%2022%2019.0252%2022H4.95945C2.75657%2022%201.32382%2019.6809%202.30898%2017.7098L9.34184%203.6387Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M12%208V13%22%20stroke%3D%22white%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M12%2016L12%2016.5%22%20stroke%3D%22white%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.theorem {
  background-color: rgb(249, 188, 119);
  border-color: rgb(192, 129, 56);
}
.theorem .caption::before {
  content: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%2F%3E%0A%3Cpath%20d%3D%22M12%206.90909C10.8999%205.50893%209.20406%204.10877%205.00119%204.00602C4.72513%203.99928%204.5%204.22351%204.5%204.49965C4.5%206.54813%204.5%2014.3034%204.5%2016.597C4.5%2016.8731%204.72515%2017.09%205.00114%2017.099C9.20405%2017.2364%2010.8999%2019.0998%2012%2020.5M12%206.90909C13.1001%205.50893%2014.7959%204.10877%2018.9988%204.00602C19.2749%203.99928%2019.5%204.21847%2019.5%204.49461C19.5%206.78447%2019.5%2014.3064%2019.5%2016.5963C19.5%2016.8724%2019.2749%2017.09%2018.9989%2017.099C14.796%2017.2364%2013.1001%2019.0998%2012%2020.5M12%206.90909L12%2020.5%22%20stroke%3D%22white%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M19.2353%206H21.5C21.7761%206%2022%206.22386%2022%206.5V19.539C22%2019.9436%2021.5233%2020.2124%2021.1535%2020.0481C20.3584%2019.6948%2019.0315%2019.2632%2017.2941%2019.2632C14.3529%2019.2632%2012%2021%2012%2021C12%2021%209.64706%2019.2632%206.70588%2019.2632C4.96845%2019.2632%203.64156%2019.6948%202.84647%2020.0481C2.47668%2020.2124%202%2019.9436%202%2019.539V6.5C2%206.22386%202.22386%206%202.5%206H4.76471%22%20stroke%3D%22white%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E");
}

:root {
  --cs-prism-background: #0c3a68;
  --cs-prism-color: #f8f8f2;
  --cs-prism-color-comment: #6a9955;
  --cs-prism-color-prolog: #6a9955;
  --cs-prism-color-doctype: #569CD6;
  --cs-prism-color-cdata: #808080;
  --cs-prism-color-punctuation: #d4d4d4;
  --cs-prism-color-namespace: rgba(248, 248, 242, 0.7);
  --cs-prism-color-property: #f92672;
  --cs-prism-color-tag: #f92672;
  --cs-prism-color-constant: #f92672;
  --cs-prism-color-symbol: #f92672;
  --cs-prism-color-deleted: #f92672;
  --cs-prism-color-boolean: #ae81ff;
  --cs-prism-color-number: #ae81ff;
  --cs-prism-color-selector: #a6e22e;
  --cs-prism-color-attr-name: #a6e22e;
  --cs-prism-color-string: #a6e22e;
  --cs-prism-color-char: #a6e22e;
  --cs-prism-color-builtin: #a6e22e;
  --cs-prism-color-inserted: #a6e22e;
  --cs-prism-color-entity: #f8f8f2;
  --cs-prism-color-url: #f8f8f2;
  --cs-prism-color-variable: #f8f8f2;
  --cs-prism-color-attr-value: #f8f8f2;
  --cs-prism-color-atrule: #e6db74;
  --cs-prism-color-class-name: #e6db74;
  --cs-prism-color-function: #96f4fe;
  --cs-prism-color-keyword: #ff9b3d;
  --cs-prism-color-operator: #ff9b3d;
  --cs-prism-color-regex: #fd971f;
  --cs-prism-color-important: #fd971f;
}

body {
  --code-background: var(--cs-prism-background);
  --code-normal: var(--cs-prism-color);
  --code-comment: var(--cs-prism-color-comment);
  --code-function: var(--cs-prism-color-function);
  --code-important: var(--cs-prism-color-important);
  --code-keyword: var(--cs-prism-color-keyword);
  --code-operator: var(--cs-prism-color-operator);
  --code-property: var(--cs-prism-color-property);
  --code-punctuation: var(--cs-prism-color-punctuation);
  --code-string: var(--cs-prism-color-string);
  --code-tag: var(--cs-prism-color-tag);
  --code-value: var(--cs-prism-color-number);
}

.font-xlarge {
  font-size: 1.5em;
}

.font-large {
  font-size: 1.2em;
}

.font-small {
  font-size: 0.8em;
}

.font-xsmall {
  font-size: 0.6em;
}

.under-line {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.border {
  border-style: solid;
  border-radius: 5px;
}

.list-col-2-col, .list-col-2-row {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-2-col ul, .list-col-2-row ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--row-gap);
}
.list-col-2-col ul li, .list-col-2-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-2-col {
  --row-number: 8;
}
.list-col-2-col ul {
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}

.list-col-2-row ul {
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.list-col-3-col, .list-col-3-row {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-3-col ul, .list-col-3-row ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--row-gap);
}
.list-col-3-col ul li, .list-col-3-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-3-col {
  --row-number: 8;
}
.list-col-3-col ul {
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}

.list-col-3-row ul {
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.list-col-4-col, .list-col-4-row {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-4-col ul, .list-col-4-row ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: var(--row-gap);
}
.list-col-4-col ul li, .list-col-4-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-4-col {
  --row-number: 8;
}
.list-col-4-col ul {
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}

.list-col-4-row ul {
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.list-col-5-col, .list-col-5-row {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-5-col ul, .list-col-5-row ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: var(--row-gap);
}
.list-col-5-col ul li, .list-col-5-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-5-col {
  --row-number: 8;
}
.list-col-5-col ul {
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}

.list-col-5-row ul {
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.list-col-6-col, .list-col-6-row {
  display: flex;
  justify-content: center;
  align-items: center;
  --row-gap: 0em;
}
.list-col-6-col ul, .list-col-6-row ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--row-gap);
}
.list-col-6-col ul li, .list-col-6-row ul li {
  max-width: calc(100% - 1em);
}

.list-col-6-col {
  --row-number: 8;
}
.list-col-6-col ul {
  grid-template-rows: repeat(var(--row-number), auto);
  grid-auto-flow: column;
}

.list-col-6-row ul {
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.list-row-2-row, .list-row-2-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-2-row ul, .list-row-2-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: var(--column-gap);
}
.list-row-2-row ul li, .list-row-2-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-2-row {
  --column-number: 4;
}
.list-row-2-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-2-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-3-row, .list-row-3-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-3-row ul, .list-row-3-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: var(--column-gap);
}
.list-row-3-row ul li, .list-row-3-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-3-row {
  --column-number: 4;
}
.list-row-3-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-3-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-4-row, .list-row-4-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-4-row ul, .list-row-4-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: var(--column-gap);
}
.list-row-4-row ul li, .list-row-4-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-4-row {
  --column-number: 4;
}
.list-row-4-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-4-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-5-row, .list-row-5-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-5-row ul, .list-row-5-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: var(--column-gap);
}
.list-row-5-row ul li, .list-row-5-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-5-row {
  --column-number: 4;
}
.list-row-5-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-5-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-6-row, .list-row-6-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-6-row ul, .list-row-6-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: var(--column-gap);
}
.list-row-6-row ul li, .list-row-6-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-6-row {
  --column-number: 4;
}
.list-row-6-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-6-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-7-row, .list-row-7-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-7-row ul, .list-row-7-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(7, auto);
  row-gap: var(--column-gap);
}
.list-row-7-row ul li, .list-row-7-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-7-row {
  --column-number: 4;
}
.list-row-7-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-7-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-8-row, .list-row-8-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-8-row ul, .list-row-8-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(8, auto);
  row-gap: var(--column-gap);
}
.list-row-8-row ul li, .list-row-8-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-8-row {
  --column-number: 4;
}
.list-row-8-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-8-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-9-row, .list-row-9-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-9-row ul, .list-row-9-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(9, auto);
  row-gap: var(--column-gap);
}
.list-row-9-row ul li, .list-row-9-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-9-row {
  --column-number: 4;
}
.list-row-9-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-9-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.list-row-10-row, .list-row-10-col {
  display: flex;
  justify-content: center;
  align-items: center;
  --column-gap: 0em;
}
.list-row-10-row ul, .list-row-10-col ul {
  padding-left: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, auto);
  row-gap: var(--column-gap);
}
.list-row-10-row ul li, .list-row-10-col ul li {
  max-width: calc(100% - 1em);
}

.list-row-10-row {
  --column-number: 4;
}
.list-row-10-row ul {
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-auto-flow: row;
}

.list-row-10-col ul {
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.layout-col-2 {
  --left-width: 1fr;
  --right-width: 1fr;
  --gap: 0;
  display: grid;
  grid-template-columns: var(--left-width) var(--right-width);
  grid-auto-flow: row;
  row-gap: var(--gap);
}

.layout-col-3 {
  --left-width: 1fr;
  --center-width: 1fr;
  --right-width: 1fr;
  --gap: 0;
  display: grid;
  grid-template-columns: var(--left-width) var(--center-width) var(--right-width);
  grid-auto-flow: row;
  row-gap: var(--gap);
}

* {
  box-sizing: border-box;
}

:root {
  --cs-color-red: #f55555;
  --cs-color-red-rgb: 245, 85, 85;
  --cs-color-blue: #3892f2;
  --cs-color-blue-rgb: 56, 146, 242;
  --cs-color-green: #06a306;
  --cs-color-green-rgb: 6, 163, 6;
  --cs-color-yellow: #cece27;
  --cs-color-yellow-rgb: 206, 206, 39;
  --cs-color-orange: #ffa600;
  --cs-color-orange-rgb: 255, 166, 0;
  --cs-color-purple: #c056f4;
  --cs-color-purple-rgb: 192, 86, 244;
  --cs-color-pink: #fd96a7;
  --cs-color-pink-rgb: 253, 150, 167;
  --cs-color-light-blue: #00d0ff;
  --cs-color-light-blue-rgb: 0, 208, 255;
  --cs-color-light-green: #a4fa7f;
  --cs-color-light-green-rgb: 164, 250, 127;
  --cs-primary-color: #00c8ec;
  --cs-primary-color-rgb: 0, 200, 236;
  --cs-secondary-color: #fcaf21;
  --cs-secondary-color-rgb: 252, 175, 33;
}

body {
  --font-text-theme: "Roboto", "Noto Sans JP";
  --font-monospace-theme: "hack";
  --h1-color: #30e7e7;
  --h2-color: #3bf357;
  --h3-color: #d2fb79;
  --h4-color: #dbc503;
  --h5-color: #984705;
  --h6-color: #8f8f8f;
}

:not(#fake) h1, :not(#fake) h2, :not(#fake) .HyperMD-header-1, :not(#fake) .HyperMD-header-2 {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}
:not(#fake) h3, :not(#fake) .HyperMD-header-3 {
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}
:not(#fake) h4, :not(#fake) h5, :not(#fake) .HyperMD-header-4, :not(#fake) .HyperMD-header-5 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
:not(#fake) h2 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) h3 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) h4 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) h5 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) h6 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) .HyperMD-header-2 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) .HyperMD-header-3 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) .HyperMD-header-4 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) .HyperMD-header-5 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6), :not(#fake) .HyperMD-header-6 + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6) {
  padding-top: 0;
}

strong, .cm-strong {
  font-weight: 900;
  color: var(--cs-primary-color);
}

em, .cm-em {
  font-family: "Playfair Display", "Noto Serif JP";
}

.check {
  font-family: var(--font-text-theme);
}
.check code {
  font-family: var(--font-monospace-theme);
}
.check h1 {
  color: var(--h1-color);
}
.check h2 {
  color: var(--h2-color);
}
.check h3 {
  color: var(--h3-color);
}
.check h4 {
  color: var(--h4-color);
}
.check h5 {
  color: var(--h5-color);
}
.check h6 {
  color: var(--h6-color);
}

/*# sourceMappingURL=style.css.map */
