@use "./color.scss";
@use "./components.scss";
@use "./code.scss";
@use "./utils.scss";

// フォント
@import 'https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  // シンプルな色変数
  --cs-color-red: #b60707;
  --cs-color-red-rgb: 182, 7, 7;
  --cs-color-blue: #3892f2;
  --cs-color-blue-rgb: 56, 146, 242;
  --cs-color-green: #046004;
  --cs-color-green-rgb: 4, 96, 4;
  --cs-color-yellow: #cece27;
  --cs-color-yellow-rgb: 206, 206, 39;
  --cs-color-orange: #ffa600;
  --cs-color-orange-rgb: 255, 166, 0;
  --cs-color-purple: #9a069a;
  --cs-color-purple-rgb: 154, 6, 154;
  --cs-color-pink: #fd96a7;
  --cs-color-pink-rgb: 253, 150, 167;
  --cs-color-light-blue: #00d0ff;
  --cs-color-light-blue-rgb: 0, 208, 255;
  --cs-color-light-green: #a4fa7f;
  --cs-color-light-green-rgb: 164, 250, 127;

  // テーマカラー
  --cs-primary-color: #00c8ec;
  --cs-primary-color-rgb: 0, 200, 236;
  --cs-secondary-color: #fcaf21;
  --cs-secondary-color-rgb: 252, 175, 33;

  // 既存のcss変数の変更
}

// obsidianはbodyでないといけない
body {
  // 既存のcss変数の変更
  // obsidian
  --font-text-theme: 'Roboto', 'Noto Sans JP';
  --font-monospace-theme: 'hack';
  --h1-color: #30e7e7;
  --h2-color: #3bf357;
  --h3-color: #d2fb79;
  --h4-color: #dbc503;
}

// obsidian側の詳細度を無視するため，詳細度をfakeのid否定で底上げする．
:not(#fake) {
  h2, h3, h4, h5, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5 {
    padding-top: 0.4em;
    padding-bottom: 0.2em;

    // 内容が無くそのまま連続する場合
    & + :is(h2, h3, h4, h5, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5) {
      padding-top: 0;
    }
  }
}

strong, .cm-strong {
  font-weight: 900;
  color: var(--cs-primary-color);
}

em, .cm-em {
  font-family: 'Playfair Display';
}

// fontのチェック
.font-check {
  font-family: var(--font-text-theme);
  code {
    font-family: var(--font-monospace-theme);
  }
}
