@use "./color.scss";
@use "./components.scss";
@use "./code.scss";
@use "./utils.scss";
@use "./layouts.scss";

// フォント
@import 'https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;  // paddingとmarginの違いをはっきりさせる
}

:root {
  // シンプルな色変数
  --cs-color-red: #f55555;
  --cs-color-red-rgb: 245, 85, 85;
  --cs-color-blue: #3892f2;
  --cs-color-blue-rgb: 56, 146, 242;
  --cs-color-green: #06a306;
  --cs-color-green-rgb: 6, 163, 6;
  --cs-color-yellow: #cece27;
  --cs-color-yellow-rgb: 206, 206, 39;
  --cs-color-orange: #ffa600;
  --cs-color-orange-rgb: 255, 166, 0;
  --cs-color-purple: #c056f4;
  --cs-color-purple-rgb: 192, 86, 244;
  --cs-color-pink: #fd96a7;
  --cs-color-pink-rgb: 253, 150, 167;
  --cs-color-light-blue: #00d0ff;
  --cs-color-light-blue-rgb: 0, 208, 255;
  --cs-color-light-green: #a4fa7f;
  --cs-color-light-green-rgb: 164, 250, 127;

  // テーマカラー
  --cs-primary-color: #00c8ec;
  --cs-primary-color-rgb: 0, 200, 236;
  --cs-secondary-color: #fcaf21;
  --cs-secondary-color-rgb: 252, 175, 33;

  // 章番号
  // --cs-section-marker-display: none; // none or inline

  // 既存のcss変数の変更
}

// obsidianはbodyでないといけない
body {
  // 既存のcss変数の変更
  // obsidian
  --font-text-theme: 'Roboto', 'Noto Sans JP';
  --font-monospace-theme: 'hack';
  --h1-color: #30e7e7;
  --h2-color: #3bf357;
  --h3-color: #d2fb79;
  --h4-color: #dbc503;
  --h5-color: #984705;
  --h6-color: #8f8f8f;
}

// obsidian側の詳細度を無視するため，詳細度をfakeのid否定で底上げする．
:not(#fake) {
  h1, h2, .HyperMD-header-1,.HyperMD-header-2 {
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
  h3, .HyperMD-header-3 {
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
  }
  h4, h5, .HyperMD-header-4, .HyperMD-header-5 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6 {
    // 内容が無くそのまま連続する場合
    & + :is(h2, h3, h4, h5, h6, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6) {
      padding-top: 0;
    }
  }
}

strong, .cm-strong {
  font-weight: 900;
  color: var(--cs-primary-color);
}

em, .cm-em {
  font-family: 'Playfair Display', 'Noto Serif JP';
}
// 章番号
// body {
//   counter-reset: cs-counter-section-h2;
// }
// h2, .HyperMD-header-2 {
//   counter-reset: cs-counter-section-h3 cs-counter-section-h4;
//   counter-increment: cs-counter-section-h2;
//   &::before {
//     content: counter(cs-counter-section-h2) " ";
//     display: var(--cs-section-marker-display);
//   }
// }
// h3, .HyperMD-header-3 {
//   counter-reset: cs-counter-section-h4;
//   counter-increment: cs-counter-section-h3;
//   &::before {
//     content: counter(cs-counter-section-h2) "." counter(cs-counter-section-h3) " ";
//     display: var(--cs-section-marker-display);
//   }
// }
// h4, .HyperMD-header-4 {
//   counter-increment: cs-counter-section-h4;
//   &::before {
//     content: counter(cs-counter-section-h2) "." counter(cs-counter-section-h3) "." counter(cs-counter-section-h4) " ";
//     display: var(--cs-section-marker-display);
//   }
// }

// チェック用クラス
.check {
  font-family: var(--font-text-theme);
  code {
    font-family: var(--font-monospace-theme);
  }

  @for $i from 1 through 6 {
    h#{$i} {
      color: var(--h#{$i}-color);
    }
  }
}
